@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

// Fonts
$titleFont: 'Permanent Marker', cursive;
$mainFont: 'Dosis', sans-serif;

// Colors
$favColor: black;
$bg-main: #F5EEC2;
$font-main: #39395F;
$bg-secondary: #73A24E;
$font-secondary: #416A59;
