@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'login';
@import 'variables';

#root {
  height: 100%;
}
body {
  height: 100vh;
  background-image: url('../assets/dogify-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
