@import 'variables';

.title {
  color: $font-main;
  font-family: $titleFont;
  font-size: 5em;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.login-card {
  border: transparent !important;
  background-color: transparent !important;
}
